body {
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.content-city {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container {
    position: relative;
    width: 25%;
    margin: 0 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 330px;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.3s ease;
}

.image-container:hover .overlay {
    height: 100%;
}

.image-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    flex: 1;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        margin: 10px 0;
    }
}
